body {
    background-color: #ededed;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculatorContainer {
    background-color: #A09EBB;
    border: 0.1em solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    height: 564px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    width: 90%;
    height: 92.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.displayContainer {
    background-color: #B5D2CB;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0.25em;
    border: 0.1em solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: end;
}

.upperDisplay {
    height: 30%;
    width: 100%;
    margin: 0;
    padding-top: 1em;
    padding-right: 1em;
    font-size: 24px;
}

.lowerDisplay {
    height: 50%;
    width: 100%;
    margin: 0;
    padding-right: 0.5em;
    font-size: 48px;
}

.clear {
    background-color: #ffc0cb;
}

.delete {
    background-color: #a1caf1;
}

.clear, .delete, .number, .operator, .decimal {
    margin: 0.25em;
    border: 0.1em solid black;
    font-size: large;
}

.clear:hover, .delete:hover, .number:hover, .operator:hover, .decimal:hover {
    filter: brightness(80%);
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete {
    grid-column-start: 3;
    grid-column-end: 5;
}